
        body{
           background-color: rgb(47, 38, 34);
            color: rgb(221, 196, 196);
            text-align: center;
            font-size: large;
        }
        .button1{
            border: 4px solid;
            border-radius: 100px;
            background-color:transparent;
            color: rgb(100, 14, 14);
            width: 120px;
            height: 120px;
            font-size: larger;
            margin: 5px;
            cursor: pointer;
        }
        .move-icon{
            height: 50px;
           
        }
        .result{
            font-size:25px ;
            font-weight: bold;
        }
        .score{
            margin-top: 50px;

        }
        .reset{
            background-color: rgb(27, 150, 140);
            border: none;
            font-size: 20px;
            padding: 10px 15px;
            cursor: pointer;
        }
       
  